.mixin.out/
.physics_mod_cache/
backups/
blueprints/
crash-reports/
data/
Distant_Horizons_server_data/
downloads/
local/
logs/
mod_data/
moddata/
modernfix/
natives/
patchouli_books/
saves/
schematics/
screenshots/

.curseclient
fabricloader.log
knownkeys.txt
minecraftinstance.json
observable_announce
patchouli_data.json
server.dat_old
usercache.json
usernamcecache.json
user-prefs.json